---
import Nav from "../pages/components/Nav";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hi</title>
  </head>
  <body>
    <Nav />
    <h1 class="bg-red-900">hellow World</h1>
    <button>
      <a href="/about">go to about page</a>
    </button>
  </body>
</html>
